@tailwind base;
@tailwind components;
@tailwind utilities;

.header li
{
  @apply px-3;
}
.bg-primary
{
  background: #2b2d77;
}
.bg-secondary
{
  background:rgb(85, 81,227);
}
.mobile-nav
{
  @apply fixed top-0 bg-gray-900 w-full h-1/5 left-0 top-16;
}
.mobile-nav li
{
  @apply w-full h-full text-center border-b-2;
}
.project-desc
{
  @apply absolute left-0 right-0 top-0 bottom-0 opacity-0 bg-primary duration-500 hover:opacity-100;
}
.btn
{
  @apply bg-secondary px-5 py-2 hover:border-2 hover:border-white rounded;
}
html
{
  scroll-behavior: smooth;
}